<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./pointRelaisController.js">

        function displayPR(pointrelai){

            const div = document.createElement('div');
            const ul = document.createElement('ul');
            const li = document.createElement('li');
            li.innerText =pointrelai.name;
            ul.apend(li);
            div.append(ul);


        }




        document.body.append(displayPR());
    
    
    
    </script>
    <title>Point Relais</title>
</head>
<body>

</body>
</html>